includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 5
	paths:
		- src
	scanFiles:
		- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-stubs.php
		- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
		- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
